@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

.main{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(229,9,20,1) 7%, rgba(229,9,20,1) 89%, rgba(0,0,0,1) 100%);
    height: calc(100vh - 21vh);
    overflow-y: auto;
}

svg{
    width: 20px;
    aspect-ratio: 1/1;
    fill: gold;
}

.col{
    img{
        height: 400px;
        width: 100%;
    }
}
.TvSeries, .movie{
    display: flex;
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    &:hover{
        .infos{
            display: flex;
            text-align: center;
        }
        img{
            filter:brightness(0.2);
        }
    }
    .infos{
        text-align: center;
        display: none;
        position: absolute;
    }
    .overview{
        margin: 1rem 0;
        height: 150px;
        overflow-y: scroll;
    }
}